# User-specific files
.idea/
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.sln.docstates
lol-tracker/Services/ApiKey.cs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ebugBuild/
[Dd]Release/
[Dd]ReleasePublic/
[Dd]ReleaseBuild/
x64/
x86/
[Aa]rchive/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer XML (WiX)
wix/

# Windows image file
*.img

# Windows installer files
*.vsix

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Tye file, used in containerized apps
.tye/

# Rider-specific files
.idea/

# JetBrains Rider files
.idea/

# ASP.NET Scaffolding
Scaffolding/

# Npm package manager
node_modules/

# Logs
logs/
*.log
