@page "/"
@rendermode InteractiveServer
<PageTitle>League of Legends Account Tracker</PageTitle>
<div>
    <form action="/Data">
        <label>Username: </label>
        <input type="text" @bind="gameName" @bind:event="oninput" />
        <p role="status">entered: @gameName</p>
        <label>Tagline: </label>
        <input type="text" @bind="tagLine" @bind:event="oninput" />
        <p role="status">entered: @tagLine</p>
        <input type="submit" value="Submit" />
    </form>
</div>

<button class="btn btn-primary" @onclick="SystemCheck">Click me</button>
@code {
    private string gameName = "";
    private string tagLine = "";

    private void SystemCheck()
    {
        Console.WriteLine(gameName);
        Console.WriteLine(tagLine);
    }
}
