@page "/"
@rendermode InteractiveServer
@inject DataService DataService

<PageTitle>League of Legends Account Tracker</PageTitle>
<div>
    <form action="/data">
        <label>Username: </label>
        <input type="text" @bind="DataService.gameNameInput" @bind:event="oninput" />
        <p role="status">entered: @DataService.gameNameInput</p>
        <label>Tagline: </label>
        <input type="text" @bind="DataService.tagLineInput" @bind:event="oninput" />
        <p role="status">entered: @DataService.tagLineInput</p>
        <input type="submit" value="Submit" @onclick="submitUserData" />
    </form>
</div>

@code {
    private void submitUserData()
    {
        Console.WriteLine($"Username: {DataService.gameNameInput}, Tagline: {DataService.tagLineInput}");
    }
}
