@page "/"
@inject IJSRuntime JS

<h3>Enter Text</h3>

<input @bind="userInput" placeholder="Type something" />
<button @onclick="LogInputToConsole">Log Input</button>

@code {
    private string userInput;

    private async Task LogInputToConsole()
    {
        // Log the input text to the JavaScript console
        await JS.InvokeVoidAsync("console.log", userInput);
    }
}
